html,
body,
#root {
  height: 100%;
}
body.dark-mode {
  background-color: #1e1e2f;
  color: #f1f1f1;
}

body.dark-mode .card {
  background-color: #2c2c3e;
  color: #ffffff;
}

body.dark-mode .navbar,
body.dark-mode .main-sidebar {
  background-color: #343a40 !important;
}

/* Header navbar adjustments */
body.dark-mode .main-header.navbar {
  background-color: #2e2e3e !important;
  color: #ffffff;
}

body.dark-mode .main-header.navbar .nav-link {
  color: #ffffff !important;
}

body.dark-mode .main-header.navbar .nav-link:hover {
  color: #f8f9fa !important;
}

/* Modal adjustments for dark mode */
body.dark-mode .modal-content {
  background-color: #2e2e3e;
  color: #ffffff;
}

body.dark-mode .modal-header,
body.dark-mode .modal-footer {
  border-color: #444;
}

body.dark-mode .modal-title {
  color: #ffffff;
}

body.dark-mode .btn-close {
  filter: invert(1); /* Invert close button color for dark background */
}

body.dark-mode select.form-control {
  background-color: #2c2c3e;
  color: #ffffff;
  border: 1px solid #6c757d;
  appearance: auto;
}

select.form-control {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  background-color: #ffffff;
  color: #212529;
  border: 1px solid #ced4da;
}

/* Light mode placeholders */
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #6c757d;
  opacity: 1; /* Ensure full opacity for consistency */
}

/* Dark mode placeholders */
body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder,
body.dark-mode select::placeholder {
  color: #cfcfcf;
  opacity: 1;
}

body.dark-mode .dark-mode-text-white {
  color: #fff !important;
}

.small-badge {
  font-size: 0.55rem !important;
  padding: 2px 4px !important;
  line-height: 1 !important;
  height: auto !important;
  min-width: 14px !important;
  top: 4px !important;
  right: 0px !important;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide the element completely */
.hide {
  display: none !important;
}

/* Show the element normally */
.show {
  display: inline-block !important; /* works well for buttons */
}
.sidebar-mini.sidebar-collapse .nav-sidebar > .nav-item > .nav-link > p {
  display: none !important;
}